@import "../../styles/base.scss";
@import "../../styles/mixins";

.create-contract-page {
	@include container;
	display: flex;
	flex-direction: column;
}

.create-contract-page__header {
	@include m-b(1);
}

.contract-page-row {
	display: flex;
	width: 100%;
}

.contract-form {
	@include default-form;
}

.contract-page__button-container {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	@include p-r(2);
	button {
		@include m-r(1);
	}
}

.modal {
	z-index: 10000;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	height: 100%;

	&.open {
		display: block;
	}
}

.modal__body {
	@include floatingCard;
	display: flex;
	flex-direction: column;

	position: absolute;
	@include p(3);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background: white;
}

.checkmark {
	fill: $secondary-color;
}

.create-contract__success-text {
	text-align: center;
	@include m-b(1);
}
