@import "~styles/colors";
@import "~styles/spacing";
@keyframes placeHolderShimmer {
	0% {
		background-position: -468px 0;
	}
	100% {
		background-position: 468px 0;
	}
}

@keyframes cube {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(180deg);
	}
}
.loading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: linear-gradient(
		to top right,
		$primary-color 8%,
		darken($primary-color, 0.5) 38%,
		lighten($primary-color, 0.8) 54%
	);
}

.loading-container__cube {
	animation: cube 1s infinite;
	width: 64px;
	height: 64px;
	ion-icon {
		color: white;
		height: 100%;
		width: 100%;
	}
}

.loading-container__text {
	@include m-t(2);
	color: white;
}
