@import "../../styles/mixins";
@import "../../styles/spacing";

.contract-messages {
	@include m-t(2);
	@include p(2);
	@include floatingCard;
}

.contract-messages__header {
	@include m-b(2);
	position: relative;
	&:after {
		background-color: #dadde1;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0px;
		position: absolute;
		right: 0;
	}
}

.contract-messages__new {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	@include m-l(1);
	@include m-b(2);
}

.contract-messages__message {
	@include floatingCard;
	@include p(2);
	@include m-b(1);
	border-radius: 100;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.contract-message__from {
	position: relative;
	@include m-b(1);
	&:after {
		background-color: #dadde1;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0px;
		position: absolute;
		right: 0;
	}
}
