@import "../../styles/mixins";
@import "../../styles/spacing";
@import "../../styles/typography";
@import "../../styles/colors";

.contract-detail-page {
	@include container;
	@include p(2);
}

.contract-detail-page__contract {
	@include floatingCard;
	@include p(2);
}

.contract-field {
	// text-align: center;
	@include m-b(1);
}
.contract-field__revision-count {
	color: $secondary-color;
	border-top: 1px dashed $secondary-color;
	text-align: center;
	@include p-t(1);
}

.contract-detail-page__status {
	@include floatingCard;
	@include p(2);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.contract-detail-page__button-container {
	display: flex;
	justify-content: center;
	@include m-t(1);
	button {
		@include m-r(1);
	}
}
