@import "../../styles/base.scss";

.item-list {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.item-list__container {
	@include floatingCard;
	@include m-y(2);
}

.item-list__header {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	position: relative;
	&:after {
		right: 0;
		background-color: #dadde1;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0px;
		position: absolute;
		right: 0;
		margin-bottom: 0.8rem;
	}
}

.item-list__collapse {
	padding: 0.8rem;
	ion-icon {
		width: 1.6rem;
		height: 1.6rem;
		transition: all 0.3s ease-in;
	}

	&.rotate {
		ion-icon {
			transform: rotateX(180deg);
		}
	}
}

.item-list__title {
	@include p-t(1);
	@include p-l(1);
	@include m-b(1);
	@include p-b(1);
}

.item-list__item-container {
	@include p-x(2);
}
