@import "../../styles/base.scss";

.user-list-page {
	@include container;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.user-list__container {
	@include floatingCard;
	@include m-y(2);
}

.user-list__search-bar {
}

.user-list__title {
	position: relative;
	&:after {
		background-color: #dadde1;
		bottom: 0;
		content: "";
		height: 1px;
		left: 0px;
		position: absolute;
		right: 0;
	}
	@include p-t(1);
	@include p-l(1);
	@include m-b(1);
	@include p-b(1);
}

.user-list__item-container {
	@include p-x(2);
}

.user-list-item {
	&:active,
	&:link {
		text-decoration: none;
	}
	display: flex;
	position: relative;
	text-decoration: none;
	&:after {
		background-color: #dadde1;
		bottom: 0;
		content: "";
		height: 1px;
		left: 12px;
		position: absolute;
		right: 0;
	}
	@include p-b(1);
	@include m-b(1);
}
.user-list-item__image-container {
}
.user-list-item__text-container {
	margin: auto 0;
	@include m-l(1);
	text-decoration: none;
	.subtitle-1 {
		color: black;
	}
	.subtitle-2 {
		color: lighten(black, 65%);
	}
}

.user-list-item__image {
	height: 6.4rem;
	width: 6.4rem;
}

.user-list__title {
}
