@import "../../styles/base.scss";

.btn {
	display: block;
	position: relative;
	overflow: hidden;
	border-width: 0;
	outline: none;
	border-radius: 0.3rem;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
	color: #ecf0f1;
	transition: background-color 0.3s;

	span {
		display: block;
		@include p-xy(1, 1);
	}

	&:before {
		// Ripple animation
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;

		display: block;
		width: 0;
		padding-top: 0;

		border-radius: 100%;

		background-color: rgba(236, 240, 241, 0.3);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	&:active:before {
		width: 120%;
		padding-top: 120%;
		transition: width 0.2s ease-out, padding-top 0.2s ease-out;
	}
}

.btn--primary {
	background-color: $primary-color;
	&:hover,
	:focus {
		background-color: $primary-color-dark;
	}
}
.btn--secondary {
	background-color: $secondary-color;
	&:hover,
	:focus {
		background-color: $secondary-color;
	}
}
