@import "./colors";

@mixin container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 41rem;
	@media screen and (max-width: 100rem) {
		max-width: 80rem;
	}
	@media (min-width: 54.4rem) {
		.container {
			max-width: 57.6rem;
		}
	}
	@media (min-width: 76.8rem) {
		.container {
			max-width: 72rem;
		}
	}
	@media (min-width: 99.2rem) {
		.container {
			max-width: 94rem;
		}
	}
	@media (min-width: 120rem) {
		.container {
			max-width: 114rem;
		}
	}
}

@mixin floatingCard {
	background-color: $white;
	box-shadow: 0rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
	border-radius: 0.3rem;
}

@mixin default-form {
	@include floatingCard;
	@include m-y(2);
	@include p(2);
}
