$base-spacing-s: 0.4rem;
$base-spacing-l: 0.8rem;

// define padding spacers
@mixin p($m) {
	padding: $m * $base-spacing-l;
}

@mixin p-l($m) {
	padding-left: $m * $base-spacing-l;
}

@mixin p-r($m) {
	padding-right: $m * $base-spacing-l;
}

@mixin p-t($m) {
	padding-top: $m * $base-spacing-l;
}

@mixin p-b($m) {
	padding-bottom: $m * $base-spacing-l;
}

@mixin p-xy($m, $m2) {
	padding-left: $m * $base-spacing-l;
	padding-right: $m * $base-spacing-l;
	padding-top: $m2 * $base-spacing-l;
	padding-bottom: $m2 * $base-spacing-l;
}

@mixin p-x($m) {
	padding-left: $m * $base-spacing-l;
	padding-right: $m * $base-spacing-l;
}

@mixin p-y($m) {
	padding-top: $m * $base-spacing-l;
	padding-bottom: $m * $base-spacing-l;
}

// define margin spacers
@mixin m($m) {
	margin: $m * $base-spacing-l;
}

@mixin m-l($m) {
	margin-left: $m * $base-spacing-l;
}

@mixin m-r($m) {
	margin-right: $m * $base-spacing-l;
}

@mixin m-t($m) {
	margin-top: $m * $base-spacing-l;
}

@mixin m-b($m) {
	margin-bottom: $m * $base-spacing-l;
}

@mixin m-xy($m, $m2) {
	margin-left: $m * $base-spacing-l;
	margin-right: $m * $base-spacing-l;
	margin-top: $m2 * $base-spacing-l;
	margin-bottom: $m2 * $base-spacing-l;
}

@mixin m-x($m) {
	margin-left: $m * $base-spacing-l;
	margin-right: $m * $base-spacing-l;
}

@mixin m-y($m) {
	margin-top: $m * $base-spacing-l;
	margin-bottom: $m * $base-spacing-l;
}
