// Adopted from https://material.io/design/typography/the-type-system.html#type-scale
@import "./colors";
$light: 300;
$reg: 400;
$med: 500;
$bold: 600;

.heading-1 {
	font-weight: $light;
	font-size: 9.6rem;
	letter-spacing: -1.5px;
}

.heading-2 {
	font-weight: $light;
	font-size: 6rem;
	letter-spacing: -0.5px;
}

.heading-3 {
	font-weight: $reg;
	font-size: 4.8rem;
	letter-spacing: 0px;
}

.heading-4 {
	font-weight: $reg;
	font-size: 3.4rem;
	letter-spacing: 0.24px;
}

.heading-5 {
	font-weight: $reg;
	font-size: 2.4rem;
	letter-spacing: 0px;
}

.heading-6 {
	font-weight: $med;
	font-size: 2rem;
	letter-spacing: 0.15px;
	color: $primary-color;
}

.subtitle-1 {
	font-weight: $light;
	font-size: 1.6rem;
	letter-spacing: 0.15px;
}

.subtitle-2 {
	font-weight: $reg;
	font-size: 1.6rem;
	letter-spacing: 0.1px;
}

.body-1 {
	font-weight: $light;
	font-size: 1.6rem;
	letter-spacing: 0.5px;
}

.body-2 {
	font-weight: $light;
	font-size: 1.4rem;
	letter-spacing: 0.25px;
}

.button-text {
	font-weight: $med;
	font-size: 1.4rem;
	letter-spacing: 1.25px;
	text-transform: capitalize;
}

.caption {
	font-weight: $reg;
	font-size: 1.2rem;
	letter-spacing: 0.4px;
}

.overline {
	font-weight: $reg;
	font-size: 1.4rem;
	letter-spacing: 1.5px;
}
