@import "colors";
@import "mixins";
@import "spacing";
@import "typography";
@import "variables";

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
div {
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

.row {
	display: flex;
	width: 100%;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-family: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
}

fieldset {
	border: none;
}
