@import "../../styles/base.scss";
@import "../../styles/mixins";

.contract-list-page {
	@include container;
}

.contract-grid-item {
	text-decoration: none;
}

.contract-list-item {
	&:active,
	&:link {
		text-decoration: none;
	}
	display: flex;
	position: relative;
	text-decoration: none;
	&:after {
		background-color: #dadde1;
		bottom: 0;
		content: "";
		height: 1px;
		left: 12px;
		position: absolute;
		right: 0;
	}
	@include p-b(1);
	@include m-b(1);
}

.contract-card-item {
	width: 100%;
}

.content-empty {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed;
	width: 100%;
}

.contract-list-item__text-container {
	margin: auto 0;
	@include m-l(1);
	text-decoration: none;
	.subtitle-1 {
		color: black;
	}
	.subtitle-2 {
		color: lighten(black, 65%);
	}
}
