@import "../../styles/mixins";
@import "../../styles/spacing";

$animation-duration: 0.4s;

@mixin label-inactive() {
	font-size: 1.2rem;
	transform: translateY(0);
}

@mixin label-active() {
	font-size: 0.75rem;
	transform: translateY(-14px);
}

.form-field {
	display: block;
	width: 100%;
	margin-bottom: 16px;
	@include m-r(2);
}

.form-field__label {
	@include label-active();
	display: block;
	font-weight: normal;
	left: 0;
	margin: 0;
	padding: 18px 12px 0;
	color: rgba(#999, 0.9);
	position: absolute;
	top: 0;
	transition: all $animation-duration;
	width: 100%;
}

.form-field__control {
	overflow: hidden;
	// background: #eee;
	position: relative;
	width: 100%;

	// top: -20px;
	// height: 90%;
}

.form-field__bar {
	border-bottom: 2px solid $primary-color;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	transform: scaleX(0);
	transition: all $animation-duration;
	width: 1%;
}

.form-field__input,
.form-field__textarea {
	::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		opacity: 1; /* Firefox */
		color: rgba(#999, 0.5);
	}

	appearance: none;
	background: transparent;
	border: 0;
	border-bottom: 1px solid rgba(#999, 0.5);
	display: block;
	font-size: 1.2rem;
	margin-top: 24px;
	outline: 0;
	padding: 0 12px 10px 12px;
	width: 100%;

	// IE 10-11
	&:-ms-input-placeholder {
		~ .form-field__label {
			@include label-inactive();
		}
	}
	// All other browsers except Edge
	&:placeholder-shown {
		~ .form-field__label {
			@include label-inactive();
		}
	}
	&:focus {
		color: black;
		~ .form-field__label {
			color: $primary-color;
			@include label-active();
		}
		~ .form-field__bar {
			border-bottom: 2px solid $primary-color;
			transform: scaleX(150);
		}
	}
}
.form-field__textarea {
	transition: all $animation-duration;

	height: 150px;
	max-height: 35px;
	&:focus {
		max-height: 150px;
	}
}
