@import "../../styles/base.scss";
@import "../../styles/colors";

.auth-page {
	display: flex;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	@include container();
}

.auth-form {
	box-shadow: 0rem 0.5rem 1rem rgba($gray-dark, 0.75);
	border-radius: 0.3rem;
	display: flex;
	width: 75%;
	flex-direction: column;
	// max-width: 88rem;
	flex: 0 0 auto;

	@include p(3);
	// align-items: center;
	justify-content: center;
}

.auth-form__title {
	width: 100%;
	text-align: center;
	@include m-b(1);
}

.auth__form-group {
	@include m-b(2);
	border: none;
	margin: 0;
	// input {
	// 	width: 100%;
	// 	height: 100%;
	// 	border: none;
	// 	border-bottom: 1rem $primary-color;
	// }
}

.auth-page__btn-container {
	@include m-t(2);
	width: 100%;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	button {
		width: 100%;
	}
}

.auth__invalid-text {
	color: red;
	text-align: center;
	@include m-b(1);
}

.auth__sign-up {
	@include m-t(2);
	@include m-b(2);
	@include p(1);
	text-decoration: none;
	display: flex;
	justify-content: center;
	text-align: center;
	color: $secondary-color;
	font-weight: 600;

	border: 0px solid rgba($secondary-color, 0);

	transition: all 0.2s ease-in;
	&:hover {
		border: 1px solid $secondary-color;
	}
}
