@import "../../styles/colors";
@import "../../styles/spacing";

.header {
	@include m-t(1);
	height: 3.5rem;
	display: flex;
}

.header__menu-icon {
	position: relative;
	padding: 1.25em;
	display: flex;
	align-items: center;
}

.header__img-icon {
	height: 2.5rem;
	width: 2.5rem;
	@include m-r(1);
}

.side-nav__items {
	display: flex;
	flex-direction: column;
	a {
		text-decoration: none;
		color: $secondary-color;
		text-align: center;
		cursor: pointer;
	}
}

.side-nav__item {
	@include m-b(1);

	color: $secondary-color;
	text-align: center;
	cursor: pointer;
}

.side-nav__bg {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: none;
	opacity: 0.01;
	transform: all ease-in 0.6s;
	pointer-events: none;
	z-index: 2;
	&--open {
		opacity: 1;
		visibility: visible;
		pointer-events: all;
	}
}

.side-nav {
	z-index: 3;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 50vw;
	background-color: white;
	box-shadow: 3px 0 16px -3px rgba(0, 0, 0, 0.4);
	transform: translateX(-120%);

	transition: transform ease-in 0.1s;

	&--open {
		transform: translateX(0);
	}
}
