@import "../../styles/base.scss";

.carousel {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.carousel__title {
	color: $secondary-color;
}

.carousel__cards {
}

.carousel-card {
}
