.footer {
	position: fixed;
	bottom: 2.5rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: gray;
	height: 5%;
	width: 100%;
	// padding-bottom
}

.footer__item {
	border: 0;
	border-right-width: 1px;
	border-right-color: beige;
	color: white;
}
