@import "../../styles//base.scss";
@import "../../styles//spacing";

.user-profile {
	@include container;
	display: flex;
	flex-direction: column;
	@include p(3);
}

.review-carousel-card {
	width: 400px;
	max-height: 200px;
	@include m-t(2);
}

.user-profile__top {
	flex: 1 1 25%;
	max-height: 25%;
	max-width: 35%;
	justify-content: center;
	align-self: center;
}

.user-profile__name {
	text-align: center;
}

.user-profile__body {
	flex: 1 1 75%;
}

.user-profile--carousel {
	@include m(2);
}

.image {
	@include m(1);
	img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 10rem;
	}
}
